<div class="flex justify-between items-center mt-4">
  <button
    [disabled]="currentPage === 1"
    (click)="onPrevious()"
    class="btn btn-outline btn-sm disabled:btn-disabled transition duration-200 ease-in-out hover:bg-gray-300"
  >
    Précédent
  </button>

  <span class="text-sm"> Page {{ currentPage }} sur {{ totalPages }} </span>

  <button
    [disabled]="currentPage === totalPages"
    (click)="onNext()"
    class="btn btn-outline btn-sm disabled:btn-disabled transition duration-200 ease-in-out hover:bg-gray-300"
  >
    Suivant
  </button>
</div>
