<div class="delivery-list p-6 min-h-screen">
  <h1 class="text-3xl font-bold mb-6 text-center lg:text-left">
    Gestion des Livraisons
  </h1>

  <!-- Composant de filtrage -->
  <app-delivery-filter
    [deliveries]="deliveries"
    [productTypes]="productTypes"
    [selectedProductTypes]="selectedProductTypes"
    [selectedPostalCodes]="selectedPostalCodes"
    [selectedStatuses]="selectedStatuses"
    (selectedProductTypesChange)="onSelectedProductTypesChange($event)"
    (selectedPostalCodesChange)="onSelectedPostalCodesChange($event)"
    (selectedStatusesChange)="onSelectedStatusesChange($event)"
    (removePostalCode)="removePostalCode($event)"
    (removeStatus)="removeStatus($event)"
    (removeProductType)="removeProductType($event)"
    (clearAllFilters)="clearAllFilters()"
    (sortByPostalCode)="sortByPostalCode()"
    (sortByDeliveryDate)="sortByDeliveryDate()"
  ></app-delivery-filter>

  <!-- Composant d'actions -->
  <app-delivery-actions
    [selectedDeliveriesCount]="selectedDeliveries.length"
    (assignToTour)="assignToTourMethod()"
    (createTour)="onCreateTour()"
  ></app-delivery-actions>

  <!-- Affichage des livraisons -->
  <!-- Pour les grands écrans -->
  <div class="hidden lg:block">
    <app-delivery-table
      [deliveries]="paginatedDeliveries"
      [selectedDeliveries]="selectedDeliveries"
      (toggleSelectAll)="toggleSelectAll()"
      (toggleSelection)="toggleSelection($event)"
      (deleteDelivery)="deleteDelivery($event)"
    ></app-delivery-table>
  </div>

  <!-- Pour les petits écrans -->
  <div class="block lg:hidden">
    <app-delivery-card
      [deliveries]="paginatedDeliveries"
      [selectedDeliveries]="selectedDeliveries"
      (toggleSelectAll)="toggleSelectAll()"
      (toggleSelection)="toggleSelection($event)"
      (deleteDelivery)="deleteDelivery($event)"
    ></app-delivery-card>
  </div>

  <!-- Composant de pagination -->
  <app-delivery-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="changePage($event)"
  ></app-delivery-pagination>
</div>
