@if (product) {
<div class="container mx-auto p-4">
  <!-- Informations du produit -->
  <div class="card bg-base-100 shadow-xl mb-6">
    <div class="card-body">
      <div class="card-title flex justify-between content-center">
        <h2 class="card-title text-3xl font-bold mb-4">
          {{ product.name }}
        </h2>
        <div class="flex gap-2">
          <!-- Icone d'édition -->
          <svg
            (click)="openUpdateModal()"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 cursor-pointer"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>

          <!-- Icone de suppression -->
          <svg
            (click)="openDeleteModal(product.id)"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 cursor-pointer text-error"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
        </div>
      </div>

      <!-- Détails du produit (hors formulaire) -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <p>
            <span class="font-semibold">Nom du produit :</span>
            {{ product.name }}
          </p>
          <p>
            <span class="font-semibold">Description :</span>
            {{ product.description }}
          </p>

          <!-- Vérification du type de produit et affichage des propriétés spécifiques -->
          @if (isLiquidProduct(product)) {
          <!-- Détails spécifiques pour les produits liquides -->
          <p>
            <span class="font-semibold">Densité :</span>
            {{ product.densityKgPerLiter }} kg/L
          </p>
          @if (product.isTemperatureSensitive) {
          <p>
            <span class="font-semibold"
              >Produit sensible à la température :</span
            >
            Oui
          </p>
          <p>
            <span class="font-semibold"
              >Coefficient de dilatation thermique :</span
            >
            {{ product.thermalExpansionCoefficientPerDegreeCelsius }}
          </p>
          } } @if (isSolidProduct(product)) {
          <!-- Détails spécifiques pour les produits solides -->
          <p>
            <span class="font-semibold">Dimensions (L x l x h) :</span>
            {{ product.lengthCm }} x {{ product.widthCm }} x
            {{ product.heightCm }} cm
          </p>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour la mise à jour -->
  <dialog
    class="modal modal-bottom sm:modal-middle"
    id="updateProductModal"
    [open]="isModalOpen"
  >
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="modal-box">
      <h3 class="font-bold text-lg">Modifier le produit</h3>

      <!-- Name -->
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium">Nom</label>
        <input formControlName="name" class="input input-bordered w-full" />
      </div>

      <!-- Description -->
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium"
          >Description</label
        >
        <input
          type="text"
          id="description"
          formControlName="description"
          class="input input-bordered w-full"
        />
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="productForm.invalid"
        >
          Mettre à jour
        </button>
        <button
          type="button"
          class="btn btn-secondary ml-4"
          (click)="closeUpdateModal()"
        >
          Annuler
        </button>
      </div>
    </form>
  </dialog>

  <!-- Modale de confirmation de la suppression du produit -->
  <app-delete-confirmation-modal
    [itemId]="productToDelete"
    message="Etes-vous sûr de vouloir supprimer ce produit ?"
    (confirmDelete)="onConfirmDelete($event)"
    (cancel)="onCancelDelete()"
  >
  </app-delete-confirmation-modal>
</div>
} @else {
<div class="alert alert-warning">
  <span>Aucun produit disponible.</span>
</div>
}
