<!-- Bouton pour ouvrir la modale de création de conducteur -->
<div class="flex justify-between mb-4">
    <h2 class="text-xl font-bold">Liste des conducteurs</h2>
    <button class="btn btn-primary" (click)="openModal()">Nouveau conducteur</button>
</div>

<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Numéro de permis</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @for (driver of drivers; track driver.id) {
            <tr class="hover:bg-base-200">
                <td>{{ driver.firstName }}</td>
                <td>{{ driver.lastName }}</td>
                <td>{{ driver.licenseNumber }}</td>
                <td class="flex">
                    <button class="btn btn-primary btn-xs" [routerLink]="['/conducteurs', driver.id]">Détails</button>
                    <svg (click)="openDeleteModal(driver.id)" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="size-6 cursor-pointer text-error">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="flex justify-center mt-4">
    <div class="btn-group">
        <!-- Précédent -->
        <button class="btn" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Précédent</button>

        <!-- Première page (toujours affichée) -->
        <button class="btn" [class.btn-active]="currentPage === 1" (click)="goToPage(1)">1</button>

        <!-- Ellipsis si la page courante est loin de la première page -->
        @if (currentPage > 3) {
        <ng-container>
            <button class="btn btn-disabled">...</button>
        </ng-container>
        }

        <!-- Pages proches de la page actuelle (de currentPage-2 à currentPage+2) -->
        @for (page of getPagesAroundCurrent(); track $index) {
        <ng-container>
            <button class="btn" [class.btn-active]="page === currentPage" (click)="goToPage(page)">
                {{ page }}
            </button>
        </ng-container>
        }

        <!-- Ellipsis si la page courante est loin de la dernière page -->
        @if (currentPage < totalPages - 2) { <ng-container>
            <button class="btn btn-disabled">...</button>
            </ng-container>
            }

            <!-- Dernière page (toujours affichée si plus d'une page) -->
            @if (totalPages > 1) {
            <ng-container>
                <button class="btn" [class.btn-active]="currentPage === totalPages" (click)="goToPage(totalPages)">
                    {{ totalPages }}
                </button>
            </ng-container>
            }

            <!-- Suivant -->
            <button class="btn" [disabled]="currentPage === totalPages"
                (click)="goToPage(currentPage + 1)">Suivant</button>
    </div>
</div>

<!-- Modale pour la création d'une conducteur -->
<dialog id="driverCreationModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Créer une nouvelle conducteur</h3>
        <app-driver-form (submitForm)="onDriverFormSubmit($event)"></app-driver-form>
        <div class="modal-action">
            <button class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        </div>
    </div>
</dialog>

<!-- Modale de confirmation de la suppression d'une conducteur -->
<!-- Modale de confirmation de suppression réutilisable -->
<app-delete-confirmation-modal [itemId]="driverToDelete" message="Etes-vous sûr de vouloir supprimer cette conducteur ?"
    (confirmDelete)="onConfirmDelete($event)" (cancel)="onCancelDelete()">
</app-delete-confirmation-modal>