<div class="delivery-planner p-4 min-h-screen">
  <h2 class="text-2xl font-bold mb-4 text-center lg:text-left">
    Planning prévisionnel des Livraisons
  </h2>
  <!-- Conteneur Principal Centré avec Limitation de Largeur -->
  <div>
    <!-- Calendrier des Livraisons avec Checkbox Option -->
    <div class="w-full mx-auto bg-base-100 shadow-lg rounded-lg p-4">
      <!-- Option "Afficher par tâche" intégrée au calendrier -->
      <div class="flex items-center justify-between mb-2">
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            class="toggle toggle-primary"
            [(ngModel)]="allDayMode"
            (change)="toggleAllDayMode()"
          />
          <span class="text-sm"
            >Afficher les livraisons par tâche (All-Day)</span
          >
        </label>
      </div>
      <!-- Calendrier des Livraisons -->
      <div class="w-full mx-auto bg-base-100 shadow-lg rounded-lg p-4">
        <full-calendar
          [options]="calendarOptions"
          class="w-full max-h-[70vh] sm:max-h-[80vh] md:max-h-[60vh] lg:max-h-[50vh]"
        ></full-calendar>
      </div>

      <!-- Liste des Livraisons -->
      <div
        class="w-full bg-base-100 shadow-lg rounded-lg p-4 mt-6 overflow-y-auto"
      >
        @if (selectedDate) {
        <!-- Affichage de la date sélectionnée -->
        <div class="mb-4 text-center">
          <h3 class="text-xl font-bold">
            Livraisons pour le {{ selectedDate }}
          </h3>
        </div>
        }

        <app-delivery-list
          [deliveries]="filteredDeliveries"
          (deliveryDeleted)="onDeliveryDeleted($event)"
          (assignToTour)="onAssignToTour($event)"
        ></app-delivery-list>
      </div>

      <!-- Modale pour la création d'une tournée -->
      <dialog
        id="tourAssociationModal"
        class="modal modal-bottom sm:modal-middle"
      >
        <div class="modal-box">
          <h3 class="text-lg font-bold">Association à une tournée</h3>
          <app-tour-deliveries-association
            [selectedDeliveries]="selectedDeliveries"
            (closeModal)="closeTourAssociationModal()"
          ></app-tour-deliveries-association>
          <div class="modal-action">
            <button
              class="btn btn-secondary"
              (click)="closeTourAssociationModal()"
            >
              Annuler
            </button>
          </div>
        </div>
      </dialog>
    </div>
  </div>
</div>
